body {
    background-color: #617171;
}

h1 {
    color: white;
}

a {
    text-decoration-style: none;
    color: white;
}

i:hover {
    transition: 0.2s;
    transform: scale(1.2);
}

.row {
    margin-top: 2em;
}

img {
    height: 270px;
    object-fit: cover;
}