body {
    background-color: #414a4a;
}

h1 {
    color: white;
}

a {
    text-decoration-style: none;
    color: white;
}

i:hover {
    transition: 0.2s;
    transform: scale(1.2);
}

.row {
    margin-top: 2em;
}

img {
    height: 270px;
    object-fit: cover;
}

.card {
    background-color: #343a40;
    /* height: 37em; */
}

.card-text {
    font-size: 1.1em;
    color: white;
}

.card-title {
    color: #545a62;
}