* {
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: #3a3535;
}

.container {
    background-color: #494e56;
    border-radius: 20px;
    margin-bottom: 1em;
}

h1 {
    color: white;
}

a {
    text-decoration-style: none;
    color: white;
}

i:hover {
    transition: 0.2s;
    transform: scale(1.2);
}

.row {
    margin-top: 2em;
}

img {
    height: 270px;
    object-fit: cover;
}

#profile-pic:hover {
    transition: 0.2s;
    transform: scale(1.1);
}

.card {
    background-color: #343a40;
}

.card-text {
    font-size: 1.1em;
    color: white;
}

.card-title {
    color: #545a62;
}